[submodule "prrte"]
	path = 3rd-party/prrte
	url = https://github.com/HawkmoonEternal/prrte.git
	branch = merge_master_time-x
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = https://github.com/HawkmoonEternal/openpmix.git
	branch = merge_master_time-x
